<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SSWAPServlet</servlet-name>
  	<display-name>SSWAPServlet</display-name>
  	<description></description>
  	<servlet-class>fi.jyu.Server.SSWAPServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSWAPMediatorServlet</servlet-name>
  	<display-name>SSWAPMediatorServlet</display-name>
  	<description></description>
  	<servlet-class>fi.jyu.Mediator.SSWAPMediatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SSWAPServlet</servlet-name>
  	<url-pattern>/SSWAPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSWAPMediatorServlet</servlet-name>
  	<url-pattern>/SSWAPMediatorServlet</url-pattern>
  </servlet-mapping>
</web-app>
